tests/resources/base-wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="foo" targetNamespace="http://www.example.com" xmlns:tns="http://www.example.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.example.com">
            <s:element name="GetQuote">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="symbol" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="GetQuoteResponse">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="GetQuoteResult" type="s:string" />
                </s:sequence>
            </s:complexType>
        </s:schema>
    </wsdl:types>

    <wsdl:message name="GetQuoteSoapIn">
        <wsdl:part name="parameters" element="tns:GetQuote" />
    </wsdl:message>

    <wsdl:message name="GetQuoteSoapOut">
        <wsdl:part name="parameters" type="tns:GetQuoteResponse" />
    </wsdl:message>

    <wsdl:portType name="StockQuoteSoap">
        <wsdl:operation name="GetQuote">
            <wsdl:input message="tns:GetQuoteSoapIn" />
            <wsdl:output message="tns:GetQuoteSoapOut" />
        </wsdl:operation>
         <wsdl:operation name="GetQuoteWithFault">
            <wsdl:input message="tns:GetQuoteSoapIn" />
            <wsdl:output message="tns:GetQuoteSoapOut" />
            <wsdl:fault name="foo" message="tns:GetQuoteSoapIn"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="StockQuoteSoap" type="tns:StockQuoteSoap">
        <wsdl:operation name="GetQuote">
            <wsdl:input>
            </wsdl:input>
            <wsdl:output>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetQuoteWithFault">
            <wsdl:input>
            </wsdl:input>
            <wsdl:output>
            </wsdl:output>
            <wsdl:fault name="foo"></wsdl:fault>
            <wsdl:fault name="bar"></wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StockQuote">
        <wsdl:documentation>Foo</wsdl:documentation>
        <wsdl:port name="StockQuoteSoap" binding="tns:StockQuoteSoap">
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>